@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
// My custom styles

body {
	font-family: Cabin, sans-serif !important;
}

img {
	max-width: 100%;
	height: auto;
}

p,
button {
	font-family: Roboto, sans-serif !important;
}

.navbar {
	@media (min-width: 768px) {
		position: static !important;
	}
}
.brand-size {
	width: 85px;
	@media (min-width: 768px) {
		width: 115px;
	}
}

.hero-height {
	height: 250px;
	@media (min-width: 768px) {
		height: 500px;
	}
}
.hero-bg {
	position: relative;
	background: rgb(173, 194, 168);
	background: linear-gradient(
		0deg,
		rgba(173, 194, 168, 0.6) 0%,
		rgba(173, 194, 168, 1) 70%
	);

	&::before {
		content: "";
		height: 50%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background: url("../public/wave.svg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom center;
	}
}

.menuBtn {
	outline: none;
	background: none;
	border: none;
	&:focus {
		outline: none;
	}
}

.category-badge {
	font-size: 14px;
	padding: 3px 12px;
	border-radius: 0.5rem;

	&:hover {
		background: darken(rgba(173, 194, 168, 1), 20%);
		transform: scale(1.1);
		transition: 0.3s ease-in-out;
	}
}
.scale {
	&:hover {
		transform: scale(1.1);
		transition: 0.3s ease-in-out;
	}
}

.hamburger .line {
	width: 25px;
	height: 3px;
	border-radius: 3px;
	background-color: #000000;
	display: block;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover {
	cursor: pointer;
}
.hamburger-1.active .line:nth-child(2) {
	opacity: 0;
}

.hamburger-1.active .line:nth-child(1) {
	transform: translateY(7px) rotate(45deg);
}

.hamburger-1.active .line:nth-child(3) {
	transform: translateY(-9px) rotate(-45deg);
}

.input-box {
	font-family: Roboto, sans-serif !important;
}
.input-box {
	label {
		font-weight: 500;
	}
}
.input-box {
	.input {
		border: none;
		outline: none;
		padding: 0.5rem 0;
	}
}
.input-border {
	height: 3px;
	background: #777777;
	border-radius: 5rem;
}
.input-box {
	.input:focus ~ .label {
		color: #adc2a9;
		transition: all 0.3s ease-in-out;
	}

	.input:focus ~ .input-border {
		background: #adc2a9;
		transform: translateY(10px);
		transition: all 0.3s ease-in-out;
	}
}

pre {
	font-size: 0.85rem;
	background: #f8f9fb;
	padding: 8px;
	border: 1px solid #dadeed;
	border-radius: 4px;
	font-family: SourceCode Pro, monospace;
}
blockquote {
	padding-left: 10px;
	border-left: 2px solid #eceeef;
	font-size: 15px;
}
