// Your custom styles
$secondary: #4255b3;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
	font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

.navbar {
	background: #2f3c7e;
	transition: background 250ms;
	@media (min-width: 768px) {
		background: transparent;
	}
}
.primary {
	background: #2f3c7e;
}
.menuBtn {
	outline: none;
	background: none;
	border: none;
	&:focus {
		outline: none;
	}
}

.hamburger .line {
	width: 25px;
	height: 3px;
	border-radius: 3px;
	background-color: #fff;
	display: block;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover {
	cursor: pointer;
}
.hamburger-1.active .line:nth-child(2) {
	opacity: 0;
}

.hamburger-1.active .line:nth-child(1) {
	transform: translateY(7px) rotate(45deg);
}

.hamburger-1.active .line:nth-child(3) {
	transform: translateY(-9px) rotate(-45deg);
}

.my-link {
	color: #4f4f4f !important;
	font-weight: 400;
	transition: color 300ms ease-out;
	&:hover {
		color: $secondary !important;
	}
}
pre {
	font-size: 0.85rem;
	background: #f8f9fb;
	padding: 8px;
	border: 1px solid #dadeed;
	border-radius: 4px;
	font-family: SourceCode Pro, monospace;
}
blockquote {
	padding-left: 10px;
	border-left: 2px solid #eceeef;
	font-size: 15px;
}
