// Custom variables
$primary: #adc2a9;
$gray: #4f4f4f;
$light: #f8f9fa;
$theme-colors: (
	"primary": $primary,
	"secondary": #6c757d,
	"success": #198754,
	"danger": #dc3545,
	"warning": #ffc107,
	"info": #0dcaf0,
	"dark": #343a40,
	"light": $light,
);
$spacer: 1rem;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3.5,
	6: $spacer * 5,
	7: $spacer * 8,
	8: $spacer * 11,
	9: $spacer * 14,
	10: $spacer * 17,
);

@import "mdb-react-ui-kit/dist/scss/mdb.free.scss";
